<h1>Order quantity: <%= @order.quantity %></h1>

<h1>Order ID: <%= @order.id %></h1>

<h1>Product ID: <%= @order.product.id %></h1>

<h1>Subtotal: $<%= @order.subtotal %></h1>

<h1>Product tax: $<%= @order.tax %></h1>

<h1>Total: $<%= @order.total %></h1>
