<center><h1>Welcome to Ho Ho Hosiery!</h1></center>

<div class="row">
  <% @product.each do |product| %>

    <div class="col-md-3">
      <div class="well">
        <h3><%= link_to product.name, "/products/#{product.id}" %></h3>
         <img src="<%=product.images.first.image if product.images.first%>" alt="">
        <p>Supplier: <%= product.supplier.name %></p>
        <p><%= product.description %></p>
        <h3>$<%= product.price %></h3>
      </div>
    </div>
  <% end %>
</div>