<h1>Peruse all of our products!</h1>



<div class="row">
  <% @product.each do |product| %>

    <div class="col-md-3">
      <div class="well">
        <h3><%= link_to product.name, "/products/#{product.id}" %></h3>
        <img src="<%= product.image %>" alt="">
        <p><%= product.description %></p>
        <h3>$<%= product.price %></h3>
        <p>Inventory: <%= product.inventory %></p>
        <p>Product id: <%= product.id %></p>
        <p>Created on: <%= product.readable_created_at %></p>
      </div>
    </div>
  <% end %>
</div>

  <!-- <div class="clearfix visible-lg-block">
      <p>clearfix?</p>
  </div> -->