<h1>Please enter quantity</h1>

<%= form_tag '/carted_products', method: :post do %>
  <div class="form-group">
    <p><%= label_tag :quantity %></p>
    <p><%= text_field_tag :quantity, nil, class: "form-control", placeholder: "..." %></p>
  </div>
   <div class="form-group">
    <%= hidden_field_tag :product_id, @product.id, class: "form-control", placeholder: "Don't change that!" %>
  </div>
   <div>
    <%= button_tag 'Add To Cart!' %>
  </div>
<% end %>


<div class="row">

    <div class="col-md-3">
      <div class="well">
        <h2><%= @product.sale_message %></h2>
        <p>Category: <%= @product.categories.map { |category| category.name}.join(', ') %></p>
        <% @product.images.each do |image_object| %>
         <img src="<%=image_object.image%>" alt="">
        <% end %>
        <p><%= @product.description %></p>
        <h3>$<%= @product.price %></h3>
        <h2>Total: $<%= @product.after_tax_total %></h2>
        <p>Inventory: <%= @product.inventory %></p>
        <p>Supplier: <%= @product.supplier.name %></p>
        <p>Created on: <%= @product.readable_created_at %></p>
      </div>
    </div>
</div>
<% if current_user && current_user.admin %>
<div>
  <%= link_to "Edit", "/products/#{@product.id}/edit" %>
</div>

<div>
  <%= link_to "Delete this product", "/products/#{@product.id}", method: :delete %>
</div>
<% end %>