<h4><%= @product.sale_message %></h4>
<h2><%= @product.name %></h2>
<div>
  <img src="<%= @product.image %>">
</div>
<p>Price: $<%= @product.price %></p>
<p>Tax: $<%= @product.tax %></p>
<p>Total: $<%= @product.after_tax_total %></p>
<p><%= @product.description %></p>

<div>
  <%= link_to "Edit", "/products/#{@product.id}/edit" %>
</div>

<div>
  <%= link_to "Delete this product", "/products/#{@product.id}", method: :delete %>
</div>